DATABASE_URL=postgresql://mediflow:mediflow_pass@localhost:5432/mediflow?schema=public
REDIS_HOST=localhost
REDIS_PORT=6379
KAFKA_BROKERS=localhost:9092
JWT_SECRET=dev-jwt-secret-change-in-prod
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=dev-refresh-secret-change-in-prod
JWT_REFRESH_EXPIRES_IN=7d
NODE_ENV=development
PORT=3001
MSG91_AUTH_KEY=
MSG91_SENDER_ID=MEDFLW
